#back-to-top {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 80px;
  max-width: 30px;
}

#back-to-top:hover svg {
  fill: #212121;
}

#back-to-top.back-to-top--show {
  display: block;
}
